body {
    background-color: gray;
}
.calendarContainer {
    width: 740px;
    height: 790px;
    padding: 10px;
    background-color: #FFF;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.timeBlock {
    height: 30px;
}
.timeBlock .h6 {
    color: #D8D8D8;
}
.timeBlock .h4 {
    color: #A2A2A2;
}
.calendarContainer .col-md-1 {
    width: 80px;
}
.calendarContainer .col-md-11 {
    width: 620px;
}
.eventContainer {
    width: 600px;
    height: 720px;
    padding: 0 10px;
    margin: 20px 20px 30px 0;
    background-color: #ECECEC;
}
.railContainer {
    margin-top: 10px;
    height: 720px;
}
.singleTimeBlock {
    position: absolute;
    border: 3px solid #E9E9E9;
    border-left: 3px solid #3660A2;
    background-color: #FFF;
    padding-left: 10px;
    overflow: auto;
}

.singleTimeBlock h4 {
    color: #5676AE;
    font-size: 0.8em;
}
.singleTimeBlock h6 {
    color: #CACACA;
    font-size: 0.6em;
}